* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

body {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: lightblue;
}

#questions,
#final,
#highscores,
#finalScore {
    display: none;  
  } 

ul.list {
list-style-type: none;
}

.btn,
.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
}


@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
}

@media (min-width: 1025px)
    